$secondaryColor: #6e7c7c;
$primaryColor: white;
$tetiaryColor: #8db596;

.nav-container {
  display: flex;
  justify-content: space-around;
  height: 90px;
  align-items: center;
}
.logo-container {
  display: flex;
  gap: 8px;
  cursor: pointer;

  h2 {
    color: $primaryColor;
    font-family: "Mina", sans-serif;
  }
}

.img-log {
  width: 50px;
  height: 40px;
}

.Links ul {
  display: flex;
  gap: 50px;

  li {
    list-style: none;
    display: flex;

    a {
      text-decoration: none;
      color: $primaryColor;
      font-size: larger;

      &:hover {
        transition: 0.2s;
        color: rgba(30, 21, 21, 0.316);
      }
    }
  }
}

.btn-links {
  display: flex;
  gap: 10px;
}

.sign-Up {
  text-decoration: none;
  padding: 10px 17px;
  color: $primaryColor;
  // margin-right: 10px;
  border: 1px solid $primaryColor;
  border-radius: 7px;

  &:hover {
    transition: 0.6s;
    background-color: $tetiaryColor;
    border: 1px solid $tetiaryColor;
  }
}
.btn-login {
  text-decoration: none;
  padding: 10px 17px;
  color: $primaryColor;
  margin-right: 10px;
  border: 1px solid $tetiaryColor;
  border-radius: 7px;
  font-size: 18px;
  background-color: $tetiaryColor;

  &:hover {
    transition: 0.6s;
    background-color: transparent;
  }
}

.App {
  height: 93vh;
  background-color: $secondaryColor;
  margin: 20px;
  border-radius: 15px;
}

.text-content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  h1 {
    color: $primaryColor;
    font-size: 5em;
    font-family: "Space Grotesk", sans-serif;

    span {
      display: flex;
      justify-content: center;
      margin-top: -25px;
    }
  }
}

.desc {
  display: flex;
  justify-content: center;
  color: $primaryColor;
  font-size: 1.4em;
  margin-top: 10px;

  span {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  p {
    span {
      font-size: 11px;
      display: flex;
      justify-content: center;
    }
  }
}
.card-body {
  width: 180px;
  height: 130px;
  color: $primaryColor;
  background: linear-gradient(rgb(227, 217, 217, 0.2), rgb(234, 225, 225, 0.2)),
    transparent;
  border-radius: 10px;
  padding-top: 10px;
  border: 1px dashed white;

  a {
    text-decoration: none;
    font-size: 3rem;
    color: $primaryColor;
    box-shadow: rgb(227, 217, 217, 0.2);
    cursor: pointer;
  }
}
.btn-pages {
  display: none;
}

@media (max-width: 1000px) {
  .Links {
    display: none;
  }

  .btn-login,
  .sign-Up {
    display: none;
  }

  .btn-pages {
    display: flex;
    text-decoration: none;
    padding: 10px 17px;
    color: $primaryColor;
    margin-right: 10px;
    border: 1px solid $tetiaryColor;
    border-radius: 7px;
    font-size: 18px;
    margin-left: 40px;

    &:hover {
      transition: 0.2s;
      background-color: $tetiaryColor;
    }
  }

  .text-content {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    h1 {
      color: $primaryColor;
      font-size: 3.4em;
      font-family: "Space Grotesk", sans-serif;

      span {
        display: flex;
        justify-content: center;
        margin-top: 8px;
      }
    }
  }

  .desc {
    display: flex;
    justify-content: center;
    color: $primaryColor;
    font-size: 1.1em;
    margin-top: 10px;

    span {
      display: flex;
      justify-content: center;
      margin-top: 3.8px;
    }
  }
}

@media (max-width: 650px) {
  .text-content {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;

    h1 {
      color: $primaryColor;
      font-size: 2.2em;
      font-family: "Space Grotesk", sans-serif;

      span {
        display: flex;
        justify-content: center;
        margin-top: 5px;
      }
    }
  }

  .desc {
    display: flex;
    justify-content: center;
    color: $primaryColor;
    font-size: 13px;
    margin-top: 20px;

    span {
      display: flex;
      justify-content: center;
      margin-top: 3.8px;
    }
  }

  .card-body {
    width: 150px;
    height: 120px;
  }

  .App{
    height: 85vh;
  }
}
